body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url('leopardbackground.webp');
    color: #fff;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    margin: 20px;
}

.text-box {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.threat-box {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.threat-box img {
    flex: 0 0 30%;
    margin-right: 20px;
}

a {
    color: #fff;
    text-decoration: underline;
}

a:hover {
    color: #ccc;
}
  
  
nav {
    display: flex;
    align-items: center;
    background-color: #000 !important;
    padding: 10px;
}

.search-bar {
    margin-right: auto; 
    padding: 5px;
}

.search-bar input {
    width: 150px;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: #fff !important; 
    padding: 10px;
    margin: 0 10px !important;
    background-color: #000000 !important; 
    transition: background-color 0.3s; 
}

nav a:hover {
    background-color: #cbbfbf; 
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cbbfbf;
    box-shadow: 0 8px 16px rgba(172, 164, 164, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #666;
}